* {
  margin:0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
} 


/*start slider*/
.carousel-content-title {
  color: white;
  font-size: 4em;
  text-transform: uppercase;
  text-shadow: 1px 1px 50px black;
  font-family: 'Archivo Black', sans-serif;
}

.carousel-content {
  width: inherit;
  height: 100vh;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
}
.carousel {
  width: 100%;
  max-height: 100vh;
  margin: 0 !important;
}    
.carousel img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
}
.carousel .slick-prev {
    left: 25px;
    z-index: 1;
}
.carousel .slick-next {
    right: 25px;    
}
.carousel .slick-prev:before, 
.carousel .slick-next:before {}
.carousel .slick-dots {
    bottom: 15px;
}
.carousel .slick-dots li button {}
.carousel .slick-dots li button:before {
    font-size: 15px;
    color: rgba(255,255,255,.85);
    transition: all .35s ease-in-out;
}
.carousel .slick-dots li:hover button:before,
.carousel .slick-dots li.slick-active button:before {
    color: rgba(255,255,255,1);
} 

  .carousel .slick-prev,
  .carousel .slick-next {
    display: none !important;
  }
@media only screen and (max-width: 500px) {
  .slider {
    /*position: absolute;*/
    z-index: 10;
  }

  .slick-slide img {
    height: 100vh;
  }

  .carousel img {
    width: unset;
    max-width: unset;
  }

  .carousel-content-title {
    width: 80%;
    text-align: center;
  font-size: 3em;
  margin-top: -40%;
  }
  

}  
/*end slider*/



/*start navigation*/
nav {
  position: absolute;
  z-index: 2;
  right: 0;
  padding: 1em 5em;
}

nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: white;
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.04em;
  transition: .2s linear;
  font-family: 'Sintony', sans-serif;
}
nav ul li a:hover {
  color: black;
  transition: .2s linear;
}

@media screen and (max-width: 500px) {
  nav {
    z-index: 99999999999999999999999999999999999999999999999999999999999999;
  }

  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(0,0,0,.8);
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}
/*end navigation*/



/*start image grid*/
html, body { padding: 0; margin: 0; }
.image-grid div {
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding-top: 100vh;
}

.image01 { background-image: url('https://o.aolcdn.com/images/dims3/GLOB/crop/3000x1502+0+0/resize/630x315!/format/jpg/quality/85/http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F27fd0619b52d5cd7e59b00418871a1a%2F206393310%2Flil-uzi-vert-performs-during-in-bloom-festival-at-eleanor-tinsley-on-picture-id937702988'); }
.image02 { background-image: url('https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2018%2F08%2Ftravis-scott-100000-dollars-to-fans-twitter-giving-away-001.jpg?q=75&w=800&cbr=1&fit=max'); }
.image03 { background-image: url('https://media.npr.org/assets/img/2017/01/10/gettyimages-622931522_wide-095c55373ac37472cf82592a67232e81fe8cae28.jpg?s=1400'); }
.image04 { background-image: url('https://img.maximummedia.ie/joe_co_uk/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lY291ay5tYXhpbXVtbWVkaWEuaWUuczMuYW1hem9uYXdzLmNvbVxcXC93cC1jb250ZW50XFxcL3VwbG9hZHNcXFwvMjAxOFxcXC8wNFxcXC8yNTAwMjM0OVxcXC9HZXR0eUltYWdlcy05MTEzOTI0MjQtMTAyNHg3ODkuanBnXCIsXCJ3aWR0aFwiOjc2NyxcImhlaWdodFwiOjQzMSxcImRlZmF1bHRcIjpcImh0dHBzOlxcXC9cXFwvd3d3LmpvZS5jby51a1xcXC9hc3NldHNcXFwvaW1hZ2VzXFxcL2pvZWNvdWtcXFwvbm8taW1hZ2UucG5nP3Y9NVwifSIsImhhc2giOiIyZDRjY2NhNGM0NTE2MTU4OTQ3OTE2ZjFmMzU5OTQ1ZjBmN2M1MzI4In0=/gettyimages-911392424-1024x789.jpg'); }
.image05 { background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/150729155417-tyler-the-creator-coachella-exlarge-169.jpg'); }
.image06 { background-image: url('https://assets.capitalxtra.com/2015/39/drake-1443430182-article-0.jpg'); }
.image07 { background-image: url('https://consequenceofsound.files.wordpress.com/2018/01/asap-rocky-above-new-song.jpg?quality=80'); }
.image08 { background-image: url('https://static.spin.com/files/141202-TK-640x426.jpg'); }


.image-text {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  padding: 6em .5em;
  text-align: center;
  text-shadow: 1px 1px 20px black;
  font-family: 'Archivo Black', sans-serif;
}

@media screen and (max-width: 500px) {
  .image-grid {
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 99;
  }
  .image-grid div { 
    width: 100%; 
  }
  
}

/*end image grid*/

/*start full screen bg section*/

.fullscreen-bg {
    background-image: url(https://static1.squarespace.com/static/5430f838e4b0887f19e3ca20/585a08c02e69cf2bd54c53a0/585a0995be659475691a4d88/1482295706628/BY_ILLGANDER_0479.jpg?format=2500w);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    /* padding-bottom: 0; */
    position: relative;
    /* bottom: 0; */
    /* z-index: 999999999999999999; */
}


.first-bg-content-container {
  width: inherit;
  height: inherit;
  background: rgba(0,0,0,.2);
  color: white;
  position: relative;
}

.first-bg-wrapper {
  width: 70%;
  position: relative;
  left: 10%;
  top: 30%;
}

.first-bg-title {
  font-size: 4em;
  font-family: 'Archivo Black', sans-serif;
}

.first-bg-subtext {
  font-size: 1.1em;
  font-family: 'Sintony', sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .fullscreen-bg {
    background-size: cover;
    z-index: 100;
  }

  .first-bg-wrapper {
    top: 10%;
  }
  
   .first-bg-title {
    font-size: 3em;
  }
}

/*end full screen bg section*/


/*start footer*/

.footer-wrapper {
    background: black;
    width: 100%;
    position: relative;
    z-index: 100;
}

.footer-text {
  text-align: center;
  color: white;
  padding: 1em 0; 
  font-family: 'Sintony', sans-serif;
  font-size: .7em;
}



/*end footer*/